.partnerts_container{
    width: 100%;
    background-color: black;
    padding-top:200px;
}
.partnerts_box{
    max-width: 1305px;
    position: relative;
    margin:0 auto;
}
.partnerts_text{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
}
.partnerts_title{
    display: flex;
    gap:60px;
}
.partnerts_brend{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.Partnerts_brend_element{
    margin-top:60px;
}
.partnerts_line{
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
} /*мб потом сделаю линии :>*/