*,*::before,*::after{
    margin:0;
    padding: 0;
    text-decoration: none;
    color: #fff !important;
    box-sizing: border-box;
}
.Header_button{
    background: linear-gradient(75deg, #C89AFC, #7C6AFA );
    padding:10px 30px;
    border-radius: 200px;
    text-align: center;
}
.Header_container{
    max-width: 1305px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-top:35px;
}
.Header_items{
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items:center;
    grid-gap:23px;
}
.Header_element{
    font-size: 16px;
    line-height: 24px;
}
.Header_block_img{
    position: relative;
    background-image: url('../../Img/main-screen__bgc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 960px;
    max-width: 100%;
}
